.site-wrapper
  .masthead.clearfix
    .inner
      %h3.masthead-brand kyaroru.com
      %nav.nav.nav-masthead.justify-content-center
        = link_to "Home", home_path, class: 'nav-link'
        = link_to "About", about_path, class: 'nav-link'
  %div.talk
    %p.bubble.thought Welcome! My owner loves bear xD and Coding too!
  .inner.cover.clearfix
    .bear-cub
      .body
        .leg.leg-left
        .leg.leg-right
        .leg.leg-left-behind
        .leg.leg-right-behind
      .head
        .nose
        .mouth
        .eye.eye-left
        .eye.eye-right
        .ear.ear-left
        .ear.ear-right
  %footer.fixed-bottom
    %p.text-white
      = image_tag("bear.png", alt: "bear", class: "inline-icon")
      Bear credits to:
      %a{href: 'https://codepen.io/dark_mefody/pen/Pppaaa'} Nikita Dubko
