<div class="site-wrapper">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">MyRailsApp</h3>
      <nav class="nav nav-masthead justify-content-center">
        <%= link_to "Home", home_path, class: 'nav-link' %>
        <%= link_to "About", about_path, class: 'nav-link' %>
      </nav>
    </div>
  </div>

  <div class="inner cover clearfix">
    <div class="bear-cub">
      <div class="body">
        <div class="leg leg-left"></div>
        <div class="leg leg-right"></div>
        <div class="leg leg-left-behind"></div>
        <div class="leg leg-right-behind"></div>
      </div>
      <div class="head">
        <div class="nose"></div>
        <div class="mouth"></div>
        <div class="eye eye-left"></div>
        <div class="eye eye-right"></div>
        <div class="ear ear-left"></div>
        <div class="ear ear-right"></div>
      </div>
    </div>
  </div>

  <footer class="fixed-bottom">
    <p class="text-white">Bear credits to: <a href="https://codepen.io/dark_mefody/pen/Pppaaa">Nikita Dubko</a><h3>
  </footer>
</div>
