.app-container {
  margin: 1rem 0;

  .store {
    flex-direction: row;
    justify-content: center;

    img {
      margin: 3px 3px;
    }
  }

  .apps-icon {
    width: 10rem;
    height: 10rem;
  }

  .google-icon {
  }

  .huawei-icon {
    height: 36px;
  }

  .appstore-icon {
  }

  .macstore-icon {
    height: 36px;
    margin: 0 3px;
  }

  .microsoft-icon {
    height: 36px;
    margin: 0 3px;
  }
}
