
$break-small: 337px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;

.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px white dashed;
  border-bottom: 1px white dashed;

  h1 {
    font-size: 3rem;

    @media screen and (min-width: $break-medium) {
      font-size: 5rem;
    }

    @media screen and (min-width: $break-large) {
      font-size: 7rem;
    }

    @media screen and (min-width: $break-x-large) {
      font-size: 8rem;
    }
  }

  .social {
    margin: 1.5rem 0;

    @media screen and (min-width: $break-medium) {
      margin: 2.5rem 0;
    }

    .social-link {

      .social-icon {
        width: 100%;
        height: auto;
      }
    }

  }
}

.profile {

  .profile-img {
    width: 100%;
    height: auto;
  }
}

