
.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  // border-top: 1px white dashed;
  // border-bottom: 1px white dashed;

  h1 {
    font-size: 3rem;

    @media screen and (min-width: $break-medium) {
      font-size: 4rem;
    }

    @media screen and (min-width: $break-large) {
      font-size: 5rem;
    }
  }

  .social {
    margin: 1.5rem 0;

    @media screen and (min-width: $break-x-large) {
      margin: 2.5rem 0;
    }

    .social-link {
      width: 2rem;
      margin: 0px 10px;

      @media screen and (min-width: $break-medium) {
        width: 3rem;
      }

      @media screen and (min-width: $break-large) {
        width: 4rem;
      }

      .social-icon {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

  }

  .email {
    margin-bottom: 1rem;
  }
}

.profile {

  .profile-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.footer {
  margin: 1rem auto;
}